%p{id: 'notice'}

%p
  %strong= zoo_name(@zoo)

- if @zoo.animals.empty?
  .animals-heading No Animals Yet

- else

  %table.zoo-animals
    %th Name
    %th Species
    - @zoo.animals.each do |animal|
      %tr
        %td= animal.name
        %td= animal.species

%a{href: new_zoo_animal_path(@zoo)}
  %button Add an Animal

%a{href: edit_zoo_path(@zoo)}
  %button Rename Zoo

%a{href: zoo_path(@zoo), data: { method: :delete, confirm: "Really delete #{zoo_name(@zoo)} and #{@zoo.animals.count} animals?" }}
  %button Destroy Zoo

%a{href: zoos_path}
  %button Back to All Zoos


